VERSION="x.y.z"
SERVICE_NAME="autocoin-payment-service"
APP_OAUTH_CLIENT_ID="changeme"
APP_OAUTH_CLIENT_SECRET="changeme"
APP_PORT_ON_HOST="10023"
DB_PASSWORD="changeme"
DB_USERNAME="changeme"
JDBC_URL="changeme"
LOG_PATH="${LOGS_PATH}/${SERVICE_NAME}"

# telegram is optional
TELEGRAM_BOT_TOKEN="changeme"
TELEGRAM_BOT_USERNAME="changeme"
TELEGRAM_PAYMENT_NOTIFICATION_CHAT_ID="changeme"
